<?page title="New WMS" contentType="text/html;charset=UTF-8"?>
<?init class="com.trio.util.Interceptors" ?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon"?>

<zk>

	<style>
		.dm-menuitem{ width: 100%; }

		.dm-menuitem .z-menu-item-cnt{ display : none; }

	</style>


	<window title="Main Menu 2" border="false" height="100%"
		apply="com.trio.view.ctrl.IndexCtrl" onClick='iframe.setSrc("")'>

		<hbox align="center">
			<label value="You are using: ${desktop.webApp.version}"/>
			Welcome :
			<label id="lblid" value="" style="font-weight : bold;" />
			
		</hbox>

		<menubar width="100%" autodrop="true">
			<menu label="Pengadaan Motor" image="/image/motor.png" visible="false"></menu>
			<menu label="Marketing" image="/image/marketing.png">
				<menupopup>
					<menuitem label="Approve DO Logistik" id="mAppDo" disabled="true"/>
					<menuitem label="Entry DO Logistik" id="mEntryDo" forward="onEntryDo" disabled="true"/>
					<menuitem label="Koreksi DO" id="mKorDo" disabled="true"/>
					<menuitem label="Master Area Penjualan"
						id="mAsterAreaPjl" />
					<menuitem
						label="Monitoring dan Approval Pelanggaran Wilayah"
						id="mMonitoring" forward="onMonitoring" />
					<menuitem label="Koreksi Nilai Pelanggaran Wilayah"
						id="mKorNilai" forward="onKoreksipw" />
				</menupopup>
			</menu>

			<menu label="Manajemen Gudang" image="/image/gudang.png" visible="false">
				<menupopup>
					<menuitem label="Ganti Nomor Mesin Picking List"
						id="mPickList" forward="onPickList" />
				</menupopup>
			</menu>


			<menu label="STNK BPKB" image="/image/stnk.png">
				<menupopup>
					<menuitem label="Cetak Faktur STNK" id="mCtkStnk" forward="onCetakSTNK"/>
				</menupopup>
			</menu>

			<menu label="Finance" image="/image/dollar.png" visible="false"></menu>

			<menu label="Laporan" image="/image/laporan.png" visible="false"></menu>

			<menu label="Data Master" image="/image/data.png" visible="false">
				<menupopup>
					<menuitem label="Master Dealer" id="mMasterDealer" forward="onMaster" />
					<menuitem label="Master Kecamatan" id="mMasterKecamatan" forward="onMasterKecamatan" />
					<menuitem label="Master Kelurahan" id="mMasterKelurahan" forward="onMasterKelurahan" />
				</menupopup>
				
			</menu>
			
			<menu label="Admin" image="/image/stnk.png" visible="false">
				<menupopup>
					<menuitem label="Master Menu" id="mMstmenu" forward="onMstmenu"/>
				</menupopup>
			</menu>

			<menuitem sclass="dm-menuitem" disabled="true" />

			<menuitem label="to Main Menu" image="/image/back.png" id="back" />
			<menuitem label="Logout" image="/image/logout.png"
				id="mLogOut" forward="onLogOut">
			</menuitem>
		</menubar>

		<borderlayout height="100%">
			<north height="99%" splittable="true" collapsible="true"
				flex="true" border="normal">

				<iframe id="iframe" src="">

				</iframe>
			</north>
		</borderlayout>


	</window>
</zk>