<?page title="Koreksi DO" contentType="text/html;charset=UTF-8"?>
<zk>

	<style>
		.z-decimalbox-disd { background:transparent; color: black
		!important; }
	</style>
	<window id="win" title="Koreksi DO" border="normal"
		apply="com.trio.view.ctrl.KoreksiDoCtrl">
		<grid>
			<auxhead>
				<auxheader colspan="3" />
			</auxhead>
			<columns visible="false">
				<column width="100px" />
				<column width="200px" />
			</columns>
			<rows>
				<row>
					<label value="No DO : " />
					<textbox id="tbNoDo" width="100%" mold="rounded" />
					<button id="btLovDO" label="LOV" mold="trendy"
						onClick="popNoDo.open(self)" />
				</row>
				<row>
					<label value="No Faktur : " />
					<textbox id="tbNoFaktur" width="100%"
						mold="rounded" />
				</row>
				<row>
					<label value="Nama Dealer : " />
					<textbox id="tbNamaDealer" width="100%"
						mold="rounded" />
				</row>
			</rows>

		</grid>

		<hbox align="center"
			style="margin-top : 10px; margin-bottom: 10px;">
			<button id="btTampil" label="Tampilkan"
				image="/image/tampil.png" />
			<button id="btSimpan" label="Simpan"
				image="/image/save.png" />
			<button id="btRefresh" label="Bersihkan"
				image="/image/iconcrud/btn_reset.gif" />
			<button id="btExit" label="Keluar"
				image="/image/iconcrud/btn_exit.gif" />
		</hbox>

		<listbox id="lbKoreksiList" width="100%" height="350px"
			mold="paging" pageSize="10">
			<listhead>
				<listheader label="Kode Item" />
				<listheader label="Qty" />
				<listheader label="Harga Standar" />
				<listheader label="Discount" />
				<listheader label="Discount(%)" />
				<listheader label="Harga Netto" />
			</listhead>
		</listbox>

		<!-- START OF LOV AREA -->
		<popup id="popNoDo">
			<vbox>
				<hbox align="center">
					No. DO
					<textbox id="tbSearchLovDO" mold="rounded" />
					<button id="btSearchLov" label="Search" />
				</hbox>

				<listbox id="lbPopNoDo" width="650px" height="350px"
					mold="paging" pageSize="10">
					<listhead>
						<listheader label="No DO" sort="auto(noDo)" />
						<listheader label="No Faktur" sort="auto" />
						<listheader label="Nama Dealer" sort="auto" />
					</listhead>
				</listbox>
			</vbox>
		</popup>
		<!-- END OF LOV AREA -->

	</window>
</zk>