.mylabel.z-label {
	font-weight: bold;
	font-size: 14px;
	color: white;
	position: relative;
	font-variant: small-caps;
	padding-left: 40px;
}

.myCredit.z-label {
	position: absolute;
	top: 94%;
	left: 50%;
	margin-left: -110px;
	font-family: calibri;
	font-weight:bolder;
	color: white;
	font-size: 8px;
}

.z-window-embedded-cnt-noborder {
	background: none repeat scroll 0 0 white;
	border: 0 none;
	margin: 0;
	overflow: hidden;
	padding: 4px;
	font-family: sans-serif;
	background-color: #323B55;
	background-image: -webkit-linear-gradient(bottom, #005b96 0%, #76b7e1 100%);
	background-image: -moz-linear-gradient(bottom, #005b96 0%, #76b7e1 100%);
	background-image: -o-linear-gradient(bottom, #005b96 0%, #76b7e1 100%);
	background-image: -ms-linear-gradient(bottom, #005b96 0%, #76b7e1 100%);
	background-image: linear-gradient(bottom, #005b96 0%, #76b7e1a 100%);
}

.myjancuk.z-textbox {
	height: 30px; positon : relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	padding-left: 20px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	background-image: none;
	positon: relative;
}

.mycombo.z-combobox {
	height: 23px;
	width: 218px; margin-top : 7px;
	border: 1px solid rgba(0, 0, 0, .49);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	background-image: none;
	margin-top: 7px;
}

.mycombo.z-combobox .z-combobox-inp {
	margin-top: 2px;
	width: 179px;
	color: #444;
	padding-left: 20px;
	font-size: 14px;
	outline: none;
	border-radius: 6px;
	border: none;
}

.mycombo.z-combobox .z-combobox-btn {
	margin-top: 2px; color : #444;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	border: none;
	color: #444;
}

.z-groupbox-cnt {
	width: 220px;
	height: 240px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -75px;
	-webkit-animation: login 1s ease-in-out;
	-moz-animation: login 1s ease-in-out;
	-ms-animation: login 1s ease-in-out;
	-o-animation: login 1s ease-in-out;
	animation: login 1s ease-in-out;
	border: none;
}

.myjancuk.z-button .z-button-cm {
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	background-color: #5466da;
	background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	-webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
	box-shadow: inset 0px 1px 0px #9ab1ec;
	cursor: pointer;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.myjancuk.z-button .z-button-tm,.myjancuk.z-button .z-button-bm {
	background-image: none;
}

.myjancuk.z-button .z-button-cl,.myjancuk.z-button .z-button-cr {
	background-image: none;
}

.myjancuk.z-button .z-button-tl,.myjancuk.z-button .z-button-tr,.myjancuk.z-button .z-button-bl,.myjancuk.z-button .z-button-br
	{
	background-image: none;
}

.myjancuk.z-button-over .z-button-cm {
	background-color: #5f73e9;
	background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	-webkit-box-shadow: inset 0px 1px 0px #aab9f4;
	box-shadow: inset 0px 1px 0px #aab9f4;
	margin-top: 10px;
}

.myjancuk.z-textbox-focus {
	-webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
	box-shadow: inset 0px 2px 0px #a7a7a7;
}

/*----------------------------------------*/
.myjancuks.z-button .z-button-cm {
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #ff0000;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	background-color: #ff0000;
	background-image: -webkit-linear-gradient(bottom, #ff0000 0%, #e47676 100%);
	background-image: -moz-linear-gradient(bottom, #ff0000 0%, #e47676 100%);
	background-image: -o-linear-gradient(bottom, #ff0000 0%, #e47676 100%);
	background-image: -ms-linear-gradient(bottom, #ff0000 0%, #e47676 100%);
	background-image: linear-gradient(bottom, #ff0000 0%, #e47676 100%);
	-webkit-box-shadow: inset 0px 1px 0px #eca59a;
	box-shadow: inset 0px 1px 0px #eca59a;
	cursor: pointer;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.myjancuks.z-button-over .z-button-cm {
	background-color: #5f73e9;
	background-image: -webkit-linear-gradient(bottom, #e9655f 0%, #ef8585 100%);
	background-image: -moz-linear-gradient(bottom, #e9655f 0%, #ef8585 100%);
	background-image: -o-linear-gradient(bottom, #e9655f 0%, #ef8585 100%);
	background-image: -ms-linear-gradient(bottom, #e9655f 0%, #ef8585 100%);
	background-image: linear-gradient(bottom, #e9655f 0%, #ef8585 100%);
	-webkit-box-shadow: inset 0px 1px 0px #f4aaaa;
	box-shadow: inset 0px 1px 0px #f4aaaa;
	margin-top: 10px;
}

.myjancuks.z-textbox-focus {
	-webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
	box-shadow: inset 0px 2px 0px #a7a7a7;
}

.myjancuks.z-button .z-button-tm,.myjancuks.z-button .z-button-bm {
	background-image: none;
}

.myjancuks.z-button .z-button-cl,.myjancuks.z-button .z-button-cr {
	background-image: none;
}

.myjancuks.z-button .z-button-tl,.myjancuks.z-button .z-button-tr,.myjancuks.z-button .z-button-bl,.myjancuks.z-button .z-button-br
	{
	background-image: none;
}